        body {
            font-family: Arial, sans-serif;
        }

        #chatbox {
            position: sticky;
            max-height: 1200px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
        }
        
        #chatbox-title {
            position: relative;
            background-color: #003865;
            color: white;
            text-align: center;
            padding: 10px;
            font-size: 20px;
            font-weight: bold;
            overflow: hidden;
            z-index: 1231234;
            overflow-x: hidden;
        }

        #messages {
            background-color: #d3d3d3;
            flex: 1;
            left: 10px;
            padding: 10px;
            display: flex;
            max-height: 500px;
            flex-direction: column;
            overflow-x: hidden;
            z-index: -3;
            overflow-y: auto;
        }

        #messages div {
            margin-bottom: 0px;
            padding: 10px;
        }

        #input-container {
            background-color: #d3d3d3;
            display: flex;
            padding: 10px;
            height: 50px;
        }
        
        #input-container input {
            flex: 1;
            padding: 10px;
            border: 2px solid #ccc;
            font-size: 16px;
        }
        
        #input-container button {
            padding: 10px;
            margin-left: 10px;
            border: none;
            background-color: #003865;
            color: white;
            cursor: pointer;
            font-size: 16px;
            border: 2px solid #ccc;
        }
        
        #input-container button:hover {
            background-color: #0056b3;
        }

        .user-message {
            align-self: flex-end;
            background-color: #007bff;
            color: white;
            margin: 10px 0 10px auto;
            padding: 15px 20px;
            width: fit-content;
            max-width: 60%;
            word-wrap: break-word;
            text-align: center;
        }

        .answer-container {
            white-space: pre-wrap;
            align-self: flex-start;
            background-color: #003865;
            color: white;
            margin-left: 40px;
            margin: 10px 2;
            max-width: 75%;
            font-size: 18px;
            word-wrap: break-word;
            cursor: default;
            opacity: 0;
            animation: showUp 0.3s forwards;
        }

        .highlight {
            background-color: rgb(59, 136, 172);
            color: white;
        }
          
        .info-for-user {
            position: relative;
            margin-right: auto;
            word-wrap: break-word;
            left: 10px;
            background-color: rgb(0, 0, 0, 0.8);
            color: white;
            flex-direction: row;
            text-align: left;
            display: inline-flex;
            align-items: center;
            height: auto;
            gap: 20px;
            padding: 50px;
            border-radius: 4px;
            font-size: 14px;
            max-width: 50%;
            vertical-align: top;
            margin-right: 20px;
        }

        .bot-message {
            align-self: flex-start;
            background-color: #003865;
            color: white;
            margin-left: 10px;
            margin: 10px 2;
            max-width: 60%;
            font-size: 17px;
            word-wrap: break-word;
            text-align: middle;
            z-index: 100;
            cursor: pointer;
        }

        .bot-intro {
            align-self: flex-start;
            background-color: #003865;
            color: white;
            margin-left: 10px;
            margin: 10px 2;
            max-width: 60%;
            word-wrap: break-word;
            text-align: middle;
        }

        .bot-message-container {
             display: flex;
             align-items: stretch;
        }

        .bot-message:hover {
            background-color: #002144;
        }

        .bot-message:active {
            transform: scale(1.03);
        }

        .info-panel {
            background-color: #0056b3;
            color: rgb(255, 255, 255);
            cursor: pointer;
            max-width: 150px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            height: auto;
            position: relative;
        }

        .info-panel:hover {
            background-color: #072665;
        }

        .info-panel::before {
            content: "show full answer";
            position: absolute;
            background-color: rgba(0, 0, 0, 0.8);
            color: white;
            padding: 10px;
            border-radius: 4px;
            font-size: 14px;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transition: opacity 0.2s;
            white-space: normal;
            left: 50px;
            max-width: 300px;
        }

        .info-panel.active::before {
            content: "hide answer";
        }
        
        .info-panel:hover::before {
            opacity: 1;
            visibility: visible;
        }

        .info-panel:active {
            transform: scale(1.03);
        }
        
        .number-box {
            background-color: #aeb5bc;
            color: white;
            padding: 10px;
            text-align: center;
            font-weight: bold;
            max-width: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
        }


        .feedback-container {
            position: relative;
            margin-right: auto;
            right: -25px;
            color: #000;
            cursor: pointer;
            max-width: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 3px;
            font-size: 12px;
            border-radius: 4px;
        }

        .feedback-container::after {
            content: "Did the suggestions answer your question? Let us know.";
            position: absolute;
            max-width: 100px;
            left: 200%;
            transform: translateX(20%);
            background-color: rgb(0, 0, 0, 0.8);
            color: white;
            z-index: 1000;
            padding: 10px;
            border-radius: 4px;
            font-size: 14px;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.2s;
            transition-delay: 1s;
        }

        .feedback-container:hover::after {
            opacity: 1;
            visibility: visible;  
        }
        
        .feedback-button {
            padding: 2px;
            margin: 0 2px;
            border: 0px;
            background: transparent;
            color: #072665;
            cursor: pointer;
            font-size: 20px;
            transition: transform 0.1s ease;
        }
        
        .feedback-button:hover {
            transform: scale(1.2);
        }

        .feedback-button:active {
            transform: scale(1.4);
        }

        #results {
            display: none;
            position: relative;
            background-color: #f0f0f0; 
            width: auto;
            z-index: 1000;
            margin: 20px;
            padding: 10px;
            min-height: 200px;
            overflow: hidden;
            border-radius: 5px;
            flex-grow: 1;
            animation: showUp 0.3s forwards;
        }

        #results .show {
            position: relative;
            display: block;
            opacity: 1;
            width: 100%;
            visibility: visible;
            padding: 5px;   
        }
        
        #results .result {
            position: relative;
            margin-bottom: 4px;
            border-bottom: 1px solid #ddd;
            font-size: 17px;
            padding: 5px;
            margin: 10px;
            text-decoration: none;
            color: inherit;
        }
          
        #results .result:hover {
            position: relative;
            cursor: pointer;
            background-color: #e0e0e0;
            overflow: hidden;
            padding: 5px;
            font-size: 18px;
            border-radius: 5px;
        }

        @keyframes showUp {
            from {
              opacity: 0;
              transform: translateY(-10px);
            }
            to {
              opacity: 1;
              transform: translateY(0);
            }
        }
